<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MyCodeBlog</title>
	<!--css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<header>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold;">MyCodeBlog</span>
            <a href="/newpost" class="btn btn-primary" role="button">Novo Post</a>
        </nav>
    </header>
	<section>
		<div class="container" style="width: 60%;padding-bottom: 30px;">
			<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="post: ${posts}">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item active" aria-current="page">Posts</li>
					</ol>
				  </nav>
				<div class="card-body">
					<p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
						<span th:text="${post.autor}"></span>
						<span th:text="${post.data}"></span>
					</p>
					<a th:href="${(#mvc.url('CC#getPostDetails').arg(0, post.id)).build()}"><h4 class="card-title" style="font-weight: bold; color: black;padding-top: 5px;"><span th:text="${post.titulo}"></span></h4></a>
					<p class="card-text">
						<p th:utext="${#strings.abbreviate(post.conteudo,400)}"></p>
					</p>
				</div>
			</div>
		</div>

	</section>

</body>

</html>